{% extends "base.html" %}

{% block title %}Help - Post Slicer{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1>Help</h1>
        
        <p>This is an application designed to help you split up too-long social media posts into more bite-sized chunks that are palatable to social media sites.</p>
        <p>The core idea is to write your post, then split it in a somewhat optimal way.</p>
        <p>It doesn't actually post it for you, you have to copy the text one post at a time.</p>
    </div>
</div>
{% endblock %}
